.productos-conteiner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width: 100%;
}

.producto-card{
    background-color: bisque;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 30%;
    height: 100%;
    text-align: center;
    margin-top: 5px;
}

.producto-image{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.detalle-imagen {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.detalle-info {
  text-align: center;
  margin-top: 20px;
}

.detalle-contador button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
}

body {
  background-color: #121212;
  color: #fff;
}

.input-group-text {
  background-color: #343a40;
  border: none;
}

.form-control {
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #444;
}

.form-control::placeholder {
  color: #bbb;
}

.paginacion button {
  min-width: 40px;
  font-weight: bold;
  border-radius: 6px;
}

.paginacion .btn-outline-light {
  color: white;
  border-color: white;
}

.paginacion .btn-light {
  background-color: #00bcd4; /* celeste */
  border: none;
}

footer {
  background-color: #111;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  margin-top: 40px;
}
